h1{
    text-align: center;
}
#Fact{
    color: #fff;
    font-family: "Sulphur Point", sans-serif;
    font-size: 1rem;
    text-align: center;
    display: inline-block;
}
body{
    background-attachment: fixed;
}

#Top{
    color: #fff;
    font-family: "Sulphur Point", sans-serif;
    font-size: 3rem;
}

figcaption{
    color: #fff;
    font-family: "Sulphur Point", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
}
.Caption-description{
    color: #fff;
    font-weight: 400;
    font-family: "Sulphur Point", sans-serif;
    font-size: 1rem;
}

#Options{
    position: relative;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 1px solid yellowgreen;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
#Option1{
    border: 1px solid #7E52A0;
    border-radius: 5px;
    background-color: #7E52A0;
    align-content: center;
    text-align: center;
    width: 9.906rem;
    height: 15rem;
    display: inline-block;
    position: relative;
}

#Option2{
    border: 1px solid ,#7E52A0;
    border-radius: 5px;
    background-color: #7E52A0;
    align-content: center;
    text-align: center;
    width: 9.906rem;
    height: 15rem;
    display: inline-block;
    position: relative;
}

#Option3{
    border: 1px solid ,#7E52A0;
    border-radius: 0.3125rem;
    background-color: #7E52A0;
    align-content: center;
    text-align: center;
    width: 9.906rem;
    height: 15rem;
    display: inline-block;
    position: relative;
}

#Option4{
    border: 1px solid ,#7E52A0;
    border-radius: 5px;
    background-color: #7E52A0;
    align-content: center;
    text-align: center;
    width: 9.906rem;
    height: 15rem;
    display: inline-block;
    position: relative;
}

#Option5{
    border: 1px solid ,#7E52A0;
    border-radius: 5px;
    background-color: #7E52A0;
    align-content: center;
    text-align: center;
    width: 9.906rem;
    height: 15rem;
    display: inline-block;
    position: relative;
}
img{
    width: 4.375rem;
    height: 4.375rem;
}

.down{
    display: flex;
    justify-content: center;
    align-items: center;
    width:3.125rem;
    height: 3.125rem;
    position: relative;
    left:45rem;
}
.down img{
    width:2.5rem;
    height: 2.5rem;
}

.fact-block{
    padding: 5%;
    position: relative;
}












