#Fact{
    color: #E6BCCD;
    font-family: "Sulphur Point", sans-serif;
    font-size: 1rem;
    text-align: center;
    display: inline-block;
}
body{
    background-attachment: fixed;
}

#Top{
    color: #E6BCCD;
    font-family: "Sulphur Point", sans-serif;
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

figcaption a{
    color: #E6BCCD;
    font-family: "Sulphur Point", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
}

.Caption-description{
    color: #E6BCCD;
    font-weight: 400;
    font-family: "Sulphur Point", sans-serif;
    font-size: 1rem;
}

figcaption img{
    width: 4.375rem;
    height: 4.375rem;
    justify-content: center;
}

#Options{
    position: relative;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap:4vw;
}
#Option1, #Option2, #Option3, #Option4, #Option5{
    border: 1px solid #7E52A0;
    border-radius: 0.3125rem;
    /*background-color: #7E52A0;*/
    align-content: baseline;
    text-align: center;
    width: 9.906rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

img{
    width: 4.375rem;
    height: 4.375rem;
}

.down{
    display: flex;
    justify-content: center;
    align-items: center;
    width:3.125rem;
    height: 3.125rem;
    align-content: center;
    position: relative;
    left: 48.5vw;
}
.down img{
    width:2.5rem;
    height: 2.5rem;
}

.fact-block{
    padding: 5%;
    position: relative;
}



@media screen and (orientation: portrait) {
    html,body{
        width: 100vw;
        height: 100vh;
    }
    
    #Options{
        position: relative;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        overflow: auto;
        gap: 2vw;
    }

    #Option1, #Option2,#Option3,#Option4,#Option5{
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .caption-title{
        width: 9.806rem;
        height: 2.75rem;
    }

    .Caption-description{
        width: 9.806rem;
        height: 2.75rem;
    }

    .down{
        left: 44.5vw;
    }
}










