*{
    margin: 0;
    padding: 0;
}
h1{
    
    color: #FFF;
    font-family: "Sulphur Point",sans-serif;
    font-size: 48px;
}  
h2{
    color: #FFF;
    font-family: "Sulphur Point";
    font-size: 44px;
}
h3{
    color: #FFF;
    font-family: "Sulphur Point",sans-serif;
    font-size: 36px;
}
h4{
    color:#FFF;
    font-family: "Sulphur Point";
    font-size: 16px;
}

a{
    color: #FFF;
    font-size: 16px;
    font-family: "Sulphur Point", sans-serif;
    text-decoration: none;
    border: 1px solid yellowgreen;
}

.p-author{
    color: #FFF;
    font-size: 16px;
    font-family: "Sulphur Point", sans-serif;
    text-decoration: none;
}

body{
    background: linear-gradient(#012A36,#29274C,#7E52A0);
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

p{
    color: #edd1fa;
    font-family: "Sulphur Point", sans-serif;
    font-size: 16px;
}

.Menu{
    border: 1px solid #9fa8eb;
    border-radius: 5px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}
.Menu li{
    display: inline-block;
}
.nav a{
    display: inline-block;
    padding: 10px;
}

.JumpMenu{
    list-style: none;
}

footer{
    justify-content: center;
    position: sticky;
    height: 80px;
    display: flex;
    bottom: 0%;
    left: 0%;
}

.page-menu{
    border: 1px solid yellowgreen;
    display: flex;
}

