*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(#7E52A0,#D295BF,#E6BCCD);
    background-attachment: fixed;
    color: #012A36;
}
h1{
    text-align: center;
    color: #012A36;
}
p{
    text-align: center;
    padding: 0.3125rem;
    color: #012A36;
}

.video{
    text-align: center;
    padding: 10px;
}

.homeButton{
    text-align: center;
    padding: 10px;
}
.homeButton a{
    border-radius: 5px;
    padding: 5px;
    background-color: #012A36;
    text-align: center;
}
a{
    color: #edd1fa;
}